p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}



.fold-btn {
  float: right;
  margin: 5px 5px 0 0;
}
.fold {
  border: 1px solid black;
  min-height: 40px;
}

